.product{
    border-radius: 30px;
    border :2px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    background:white;
}
.product>img{
    max-height: 40%;
    
    max-width:50%;
}

.productinfo{
    text-align: center;
    padding: 10px;
    max-height: 40x;
    min-height: 20px;
    margin-top: 5px;
}
.product>button{
    background: rgb(224, 224, 87);
    margin-top: 5px;
    cursor: pointer;
}
.productrating{
    display: flex;
}